<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Download your favorite youtube video to mp3" />
        <meta name="copyright" content="RizFurr (2021 - 2021)" />
        <link rel="stylesheet" href="styles/styles.css" />
        <link rel="stylesheet" href="styles/404.css" />
        <title><%= locals.title || "Result Not Found" %></title>
        <link rel="icon" href="images/icon.jpg" />
        </head>
        <body>
        <%- include("components/_navbar.ejs", {title: `${locals.title || "Result Not Found"}`}) -%>
        <main class="d-flex justify-content-center align-items-center">
        <div>
        <h1><b><%= locals.title || "Result Not Found" %></b></h1>
        <p><%= locals.message || "Oof, We can't find the video you're looking for"%> <b>:(</b></p>
        <a class="fs-4" href="/">Back</a>
        </div>
        </main>
        <%- include("components/_footer.ejs") -%>
   </body>
</html>
