<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include("components/_meta.ejs") -%>
        <link rel="stylesheet" href="styles/styles.css" />
        <link rel="stylesheet" href="styles/results.css" />
        <title>YTDL • Result</title>
        </head>
        <body>
        <%- include("components/_navbar.ejs", {title: "Result"}) -%>
        <main class="px-5 d-flex flex-column justify-content-evenly align-items-center">
            <section class="section-info d-flex justify-content-center align-items-center flex-column">
                <div class="table-wrapper d-flex flex-column justify-content-evenly align-items-center">
                    <img src="<%= locals.thumb %>" class="thumb" />
                    <hr />
                    <table class="table-data table table-responsive text-white">
                       <tbody>
                            <tr>
                                <td>Title</td>
                                <td><%= locals.title %></td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td><%= locals.description %></td>
                            </tr>
                            <tr>
                                <td>Link Video</td>
                                <td><a href="<%= locals.link %>" target="_blank"><%= locals.link %></a></td>
                            </tr>
                            <tr>
                                <td>Author</td>
                                <td><a href="https://youtube.com/channel/<%= locals.authorId %>" target="_blank"><%= locals.author %></a></td>
                            </tr>
                            <tr>
                                <td>Release Date</td>
                                <td><%= locals.releaseDate %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="download-section d-flex justify-content-start align-items-center flex-column p-4">
                <h3 class="download-title">Download MP3</h3>
                <hr class="w-100" />
             <div class="btn-wrapper d-flex justify-content-center align-items-center">
                    <form action="/download" method="POST">
                        <input type="text" name="quality" value="highestaudio" hidden />
                        <input type="text" name="payload" value="<%= locals.link %>" hidden required />
                        <button class="btn-download" type="submit">320kbps</button>
                  </form>
                      <form action="/download" method="POST">
                        <input type="text" name="quality" value="lowestaudio" hidden />
                        <input type="text" name="payload" value="<%= locals.link %>" hidden required />
                        <button class="btn-download" type="submit">128kbps</button>
                      </form>
  </div>
 </section>
                      <section class="download-section d-flex justify-content-start align-items-center flex-column p-4">
                <h3 class="download-title">Download MP4</h3>
                <hr class="w-100" />
             <div class="btn-wrapper d-flex justify-content-center align-items-center">
                    <form action="/downloadVideo" method="POST">
                        <input type="text" name="quality" value="highest" hidden />
                        <input type="text" name="payload" value="<%= locals.link %>" hidden required />
                        <button class="btn-download" type="submit">Highest</button>
                  </form>
                      <form action="/downloadVideo" method="POST">
                        <input type="text" name="quality" value="lowest" hidden />
                        <input type="text" name="payload" value="<%= locals.link %>" hidden required />
                        <button class="btn-download" type="submit">Lowest</button>
                      </form>
             </div>
                      </section>
        </main>
        <%- include("components/_footer.ejs") -%>
    </body>
</html>
